{% extends 'Squelette.twig' %}

{% block content %}
    <div class="container">
        <div class="card mt-5 mb-5">
            <div class="card-header">
                <h2 class="card-title">Créer un article :</h2>
            </div>
            <div class="card-body">
                <form method="post" action="{{ url_for('add_articles_post', {'id': idCateg}) }}">
                    <div class="mb-3">
                        <label for="titre" class="form-label">Titre</label>
                        <input type="text" id="titre" name="titre" class="form-control" required placeholder="Titre">
                    </div>
                    <div class="mb-3">
                        <label for="contenu" class="form-label">Contenu</label>
                        <textarea id="contenu" name="contenu" class="form-control" required placeholder="Contenu" rows="5"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="resume" class="form-label">Résumé</label>
                        <textarea id="resume" name="resume" class="form-control" required placeholder="Résumé"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
