<footer class="bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p>&copy; {{ "now"|date("Y") }} Minipress. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>