{% extends 'Squelette.twig' %}

{% block content %}
    <h1>Création d'une catégorie :</h1>
    <div>
        <form action="" method="post">
            <div>
                <label for="nom">Nom de la catégorie :</label>
                <input type="text" name="nom" id="nom" required>
            </div>
            <div>
                <input type="submit" value="Créer">
            </div>
        </form>
    </div>

{% endblock %}

