<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon site</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('liste_articles_get') }}">Liste des articles</a>
                {% if estConnecte is defined and estConnecte.role == 2 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('add_user_get') }}">Créer un utilisateur</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
</body>
</html>