

{% block a %}

    <form>

        <label>{% include 'AddArticleView.twig' %}
            <select>
                {% for item in categories %}
                    <option value="{{ item.id }}">{{ item.nom }}</option>
                {% endfor %}

            </select>

        </label>
    </form>
{% endblock %}
