{% block a %}
    <form>
        <label>
            <select>
                {% for item in categories %}
                    <option value="{{ item.id }}">{{ item.nom }}</option>
                {% endfor %}
            </select>
        </label>
    </form>
{% endblock %}
