{% extends 'Squelette.twig' %}

{% block content %}
    <div class="container">
        <h2 class="text-center mb-4 mt-5">Créer un article avec une catégorie :</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" action="{{ url_for('add_articleByCategorie_post') }}" accept-charset="UTF-8">
                    <div class="mb-3">
                        <label for="titre" class="form-label">Titre</label>
                        <input type="text" id="titre" name="titre" class="form-control" required placeholder="Titre">
                    </div>
                    <div class="mb-3">
                        <label for="contenu" class="form-label">Contenu</label>
                        <textarea id="contenu" name="contenu" class="form-control" rows="6" required placeholder="Contenu"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="resume" class="form-label">Résumé</label>
                        <textarea id="resume" name="resume" class="form-control" rows="3" required placeholder="Résumé"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="categorie" class="form-label">Catégorie</label>
                        <select name="categorie" id="categorie" class="form-select">
                            {% for categorie in categories %}
                                <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="text-center mb-5 mt-5 ">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
