#menu {
    width: 300px;
    height: 100vh;
    background-color: #666666;
    position: fixed;
    top: 0;
    left: 0;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    background-color: rgba(61, 54, 54, 0.22);
    padding: 8px 16px;
    cursor: pointer;
    transition: transform 0.2s;
    border: black; /* Supprime la bordure par défaut des boutons */

}

#menu li:hover {
    transform: translateX(5px);
    border: 2px solid black
}

#listeArticles {
    top: 0;
    margin-left: 320px;
    width: 300px;
    height: 100vh;
    /*position: fixed;*/
}

.article{
    background-color: #666666;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
}

#articleDetails{
    top: 0;
    margin-left: 640px;
}

