body{
    font-family: "Source Code Pro", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
#bouton{
    color: white;
    font-size: 30px;
}
#menu {
    grid-area: 1 / 1 / 6 / 2;
    width: 300px;
    height: 100vh;
    background-color: #666666;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 20px;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    background-color: rgba(61, 54, 54, 0.22);
    padding: 8px 16px;
    cursor: pointer;
    transition: transform 0.2s;
    border: black; /* Supprime la bordure par défaut des boutons */

}
#liste_auth_catege{
background-color: rgba(61, 54, 54, 0.22);
    padding: 8px 16px;
    cursor: pointer;
    transition: transform 0.2s;
     /* Supprime la bordure par défaut des boutons */
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;

}
#liste_auth_catege h2:hover{
    transform: translateX(5px);
    border: 2px solid black
}

#menu li:hover {
    transform: translateX(5px);
    border: 2px solid black
}

#listeArticles {
    grid-area: 1 / 1 / 6 / 3;
    top: 0;
    margin-left: 320px;
    width: 300px;
    height: 100vh;
    /*position: fixed;*/
}

.article{

    background-color: #666666;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
}

#articleDetails{
    grid-area: 1 / 2 / 6 / 5;
}
#article{
    background-color: #666666;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
}
#main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

